<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Landing</title>
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/components.css" />
</head>
<body>
  <header class="site-header">
    <div class="container">
      <a class="brand" href="/">järvikokoelma</a>
      <nav class="main-nav">
        <a href="#helsinki">Helsinki</a>
        <a href="#espoo">Espoo</a>
        <a href="#vantaa">Vantaa</a>
        <a method="GET" href="/lakeForm">Lake</a>
      </nav>
    </div>
    <h1>LANDING</h1>
  </header>
</body>
</html>
